body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.hero {
  background-color: #1f2937;
  color: white;
  height: 450px;
  padding: 0 220px 0 220px;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  padding: 30px 0;
}

ul {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.signup {
  background-color: royalblue;
  color: white;
  border: 1px solid royalblue;
  border-radius: 8px;
}
.hero-info {
  display: flex;
  justify-content: space-between;
}

.hero-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 400px;
  background-color: gray;
}
